@font-face {
    font-family: Epil;
}

.nav-link {
    font-size: 10px;
}

.navbar {
    width: 100%;
}


footer {
    background: linear-gradient(to bottom, white, #e6e6e6);
    margin-top: 100px;
}
